* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.visually-hidden {
    height: 0;
}


html {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(156, 109, 178);
    position: relative;
    height: 100vh;
    width: 100wh;
}

.nameBox {
    display:flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
    height: 20vh;
    justify-content: center;
    
    min-height: 200px;
    
}

.name {
    color: white;
    display:block;
    border-radius: 3px;
    border-color: white;
    margin-left: 5vw;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
}

.mainBody {
    height: 60vh;
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 7fr 1.5fr;
    
}

.leftcol {
    
    display: block;
}

.line {
    width: 3px;
    height: 60vh;
    background-color: white;
    margin-left: auto;
    margin-right: 10;
    top: 0;
}

.centercol {
   
    
    display: block;
}

.welcomeText {
    color: white;
    font-size: 100px;
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    margin-top: 5vh;

}

.subtext {
    color: white;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    width: 75%;
    padding-left: 20px;
}

.rightcol {

    display: flex;
    align-items: center;
    justify-content: center;
}


.bottomBar {
    
    width: 100vw;
    min-height: 200px;
    bottom: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.arrowImageBottom {
    height: 50px;
    width: 50px;
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrowImageRight {
    height: 50px;
    width: 50px;
    transform: rotate(0deg);
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
}

.about {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}

.projects {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    display: inline-block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    
   
}

.forCenteringBottom {
    width: 48;
    height: 48;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.forCenteringRight {
   
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}